
    <h1>Image index</h1>

    Product Id:{{ pid }}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.title }}</td>
                <td>
                    <img src="{{ asset('uploads/images/'~ image.image) }}" height="100">
                </td>

                <td>
                    <a href="{{ path('app_admin_image_show', {'id': image.id}) }}"  class="btn btn-success">show</a>
                    <a href="{{ path('app_admin_image_edit', {'id': image.id}) }}"class= "btn btn-secondary">edit</a>

                    <form method="post" action="{{ path('app_admin_product_delete', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                        <button class="btn btn-success">Delete</button>
                    </form>
                </td>



            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_image_new',{'pid':pid}) }}">Create new</a>

