{% extends 'homebase.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}
<div class="container-fluid mt-5 pt-3">
    <h1 class="h3 mb-3 font-weight-normal" style="margin-left: 260px">Üye Ol</h1>
    <div class="container">
        <div class="row">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}



    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

        </div>
    </div>
</div>
{% endblock %}