{% extends 'adminbase.html.twig' %}

{% block title%} Contact Message {% endblock %}

{% block content %}

    <div class="right_col" role="main">
        <!-- Start content -->
        <div class="content">
            <div class="container">


                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Contact Message Detail</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li>
                                    <a href="#">Category </a>
                                </li>
                                <li class="active">
                                    Manage Categories
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <!-- end row -->
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Contact Message List </b></h4>
                            <form action="{{ path('app_admin_contactmessage') }}" class="form-horizontal" name="category" method="post">
                                <button type="submit" class="btn btn-custom waves-effect waves-light btn-md" name="submit" style="background-color:lightsteelblue;margin-top: 12px;display:inline-block">
                                    Return Back List
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr >
                                <th class="column-title" style="display: table-cell;">Id</th>
                                <td> {{ rs.id }}</td>
                            </tr>

                            <tr >
                            <th class="column-title" style="display: table-cell;">Name </th>
                                <td >{{ rs.name }}</td>
                            </tr>

                            <tr >
                                <th class="column-title" style="display: table-cell;">Email </th>
                                <td >{{ rs.email }}</td>




                            </tr>

                            <tr >
                            <th class="column-title" style="display: table-cell;">Phone</th>
                                <td >{{ rs.phone }}</td>
                            </tr>
                            <tr >
                                <th class="column-title" style="display: table-cell;">Subject</th>
                                <td >{{ rs.subject }}</td>

                            </tr>

                            <tr >

                            <th class="column-title" style="display: table-cell;">Message</th>
                                <td >{{ rs.message }}</td>
                            </tr>
                            <tr >
                                <th class="column-title" style="display: table-cell;">Status</th>
                                <td >{{ rs.status }}</td>
                            </tr>

                            <tr >
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Delete</span>
                                    <td> <a href="{{ path('app_admin_contactmessage_delete', {'id':rs.id}) }}" onclick="return confirm('Are you sure you want to delete this item?');" class="fa fa-trash-o" style="color: #f05050"></a>

                                </td>

                            </tr>






                            </thead>

                        </table>
                    </div>


                </div>
            </div>
        </div>

    </div> <!-- container -->

    </div> <!-- content -->
    </div>
{% endblock %}
