<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Panel </title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets') }}/Admin/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets') }}/Admin/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('assets') }}/Admin/nprogress.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="{{ asset('assets') }}/Admin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets') }}/Admin/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">


{% block header %} {% include('admin/home/header.html.twig')%}{% endblock %}

{% block sidebar %} {% include('admin/home/sidebar.html.twig')%} {% endblock %}
{% block content %}

{% endblock %}

{% block footer %} {% include('admin/home/footer.html.twig')%} {% endblock %}
{% block javascrits %} {% include('admin/home/javascrips.html.twig')%} {% endblock %}
</body>
</html>